---
import { skills } from "@cv";

import Section from "../Section.astro";
import HTML from "@/icons/html.astro";
import CSS from "@/icons/css.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/type.astro";
import React from "@/icons/react.astro";
import Git from "@/icons/git.astro";
import CICD from "@/icons/cicd.astro";
import Angular from "@/icons/angular.astro";
import Agile from "@/icons/agile.astro";
import Figma from "@/icons/figma.astro";
import Storybook from "@/icons/storybook.astro";
import GitHub from "@/icons/github.astro";
import RxJS from "@/icons/rxjs.astro";
import PrimeNG from "@/icons/primeng.astro";
import NX from "@/icons/nx.astro";
import UnitTesting from "@/icons/unit-testing.astro";
import VisualStudioCode from "@/icons/visual-studio-code.astro";
import AngularMaterial from "@/icons/angular-material.astro";
import WorldMap from "@/icons/world-map.astro";
import Cursor from "@/icons/cursor.astro";
const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  "NX (monorepo)": NX,
  "Git (gitflow)": Git,
  PrimeNG: PrimeNG,
  Angular,
  "Agile Methodologies": Agile,
  "CI/CD": CICD,
  "Unit Testing": UnitTesting,
  RxJS: RxJS,
  "Visual Studio Code": VisualStudioCode,
  "Angular Material": AngularMaterial,
  Figma,
  Storybook,
  GitHub,
  "REST API Integration": WorldMap,
  Cursor: Cursor,
};
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name }) => {
        const Icon = SKILLS_ICONS[name];

        return (
          <li>
            {Icon && <Icon />}
            <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
